.dark-theme{
    --default-background: #181d29;
    --default-text-color: white;
    --header-background: #010324;
    --default-shadow: 0 0 10px 10px rgba(182, 183, 247, 0.644);

    --hovered-component: #2429579f;

    --select-option-hover: #050b41b0;
    --select-option: #000f97ef;

    --pri-color: #631CE8;
    --sec-color: #201CE8;
    --ter-color: #8e56f7;

}