.dark-theme{
    --default-background: #181d29;
    --default-text-color: white;
    --header-background: #000007dc;
    --default-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.411);

    --pri-color: #631CE8;
    --sec-color: #201CE8;

}